

body {
    /*background-color: burlywood;*/
    background-image: url("https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8a2l0Y2hlbiUyMGJhY2tncm91bmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80");
    
}


.title-bar {
    font-family:'Times New Roman', Times, serif;
    color: cadetblue;
}

#recipes-link {
    color: coral;
    font-family: 'Courier New', Courier, monospace;
}